server {
    listen ${PORT};
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    location ~ \.wasm$ {
        default_type application/wasm;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
